<%- include ../header %>
<section id="reservation_view">
    <% if (header) { %>
    <header data-title="<%-title%>">
        <h1 class="title centered"><%-title%></h1>
        <!--nav class="on-right">
            <a href="#" data-view-menu="menus" data-icon="menu"></a>
        </nav-->
    </header>
    <% } %>
    <article id="reservation-car" class="list indented active scroll">
        <div class="form">
            <fieldset>
            <label>车系:</label>
            <label class="select">
                <select>
                    <option value="ix35">ix35</option>
                    <option value="tusheng">途胜</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>省份:</label>
            <label class="select">
                <select>
                    <option value="bj">北京</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>城市:</label>
            <label class="select">
                <select>
                    <option value="bj">海淀</option>
                    <option value="sh">朝阳</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>经销商:</label>
            <label class="select">
                <select>
                    <option value="b1">A经销商</option>
                    <option value="b2">B经销商</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>试驾日期:</label>
            <label class="select">
                <select>
                    <option value="1">2013-12-16</option>
                    <option value="2">2013-12-17</option>
                    <option value="3">2013-12-18</option>
                    <option value="4">2013-12-19</option>
                    <option value="5">2013-12-20</option>
                    <option value="6">2013-12-21</option>
                    <option value="7">2013-12-22</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>试驾时段:</label>
            <label class="select">
                <select>
                    <option value="1">09:00-11:00</option>
                    <option value="1">11:00-13:00</option>
                    <option value="1">13:00-15:00</option>
                    <option value="1">15:00-17:00</option>
                    <option value="1">17:00-19:00</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>接待销售:</label>
            <label class="select">
                <select>
                    <option value="1">随机分配</option>
                    <option value="1">方大进</option>
                    <option value="2">方小进</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>姓名:</label>
            <input type="text" placeholder="请输入您的姓名" class="border">
            </fieldset>

            <fieldset>
            <label>手机:</label>
            <input type="text" placeholder="请输入您的手机号码" class="border">
            </fieldset>

            <fieldset>
            <label>性别:</label>
            <label class="select">
                <select>
                    <option value="1">先生</option>
                    <option value="0">女士</option>
                </select>
            </label>
            </fieldset>

            <fieldset>
            <label>绑定微信:</label>
            <label class="select">
                <select>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </label>
            </fieldset>

            <br/>
            <button id="saveBtn" class="anchor margin-bottom" data-icon="ok" data-label="提交预约"><span class="icon ok"></span></button>
            <div class="spacing">&nbsp;</div>
        </div>
    </article>
</section>
<script>

window.readyhandler = function() { 
    $$('#saveBtn').tap(function() {
        Lungo.Notification.show(
            "check",                //Icon
            "保存成功",              //Title
            3,
            function() {
                Lungo.Notification.hide();
            }
        );
    });
};

</script>
<%- include ../footer %>