<%- include ../header %>

<section id="info" data-transition="slide">
    <header>
        <div class="centered title">车型展示</div>
    </header>
    <article id="car" class="active block" data-control="carousel">
        <div>
            <div align="center">
                <img src="http://lorempixel.com/320/418/food/">
            </div>
            <div align="center">
                <img src="http://lorempixel.com/320/418/sports/">
            </div>
        </div>
    </article>
</section>

<script>
window.readyhandler = function() {};
</script>
<%- include ../footer %>