<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title><%= title%></title>
	<link rel="stylesheet" href="/wap/vendor/lungo/lungo.css">
	<link rel="stylesheet" href="/wap/vendor/lungo/lungo.icon.css">
	<link rel="stylesheet" href="/wap/vendor/lungo/lungo.theme.css">
	<script src="/wap/vendor/lungo/quo.js"></script>
	<script src="/wap/vendor/lungo/lungo.js"></script>
</head>
<body>