body{font:1.0em tahoma,arial,\5b8b\4f53;}

#cars img {
	width:100%;
	max-width: 600px;
}
#cars .desc p {
	text-indent: 2em;
	padding: 5px 10px;
	min-height: 10em;
}
#cars .buttons {
	padding: 5px;
}