<%- include ../header %>
<section id="profile_view">
    <header data-title="个人资料">
        <h1 class="title centered">个人资料</h1>
        <!--nav class="on-right">
            <a href="#" data-view-menu="menus" data-icon="menu"></a>
        </nav-->
    </header>
	<article id="profile-edit" class="list indented active">
        <div class="form">
            <fieldset>
            <label>姓名:</label>
            <label>方进才</label>
            </fieldset>

            <fieldset>
            <label>级别:</label>
            <label>VIP</label>
            </fieldset>

            <fieldset>
            <label>手机:</label>
            <label>13812345678</label>
            </fieldset>

            <fieldset>
            <label>Email:</label>
            <input type="text" placeholder="请输入您的Email" class="border" value="fangcj@qq.com">
            </fieldset>

            <fieldset>
            <label>性别:</label>
            <label class="select border">
                <select>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </label>
            </fieldset>

            <br/>
            <button id="saveBtn" class="anchor margin-bottom" data-icon="ok" data-label="保存"><span class="icon ok"></span></button>
        </div>
    </article>
</section>
<script>

window.readyhandler = function() { 
    $$('#saveBtn').tap(function() {
        Lungo.Notification.show(
            "check",                //Icon
            "保存成功",              //Title
            3,
            function() {
                Lungo.Notification.hide();
            }
        );
    });
};

</script>
<%- include ../footer %>