    <footer>
        <nav>
        <a href="/wap/profile/1" data-icon="user">个人资料</a>
	        <a href="/wap/profile/1/password" data-icon="lock">密码设置</a>
	        <a href="/wap/profile/1/reminder" data-icon="bell">提醒服务</a>
        </nav>
    </footer>