<%- include ../header %>
<section id="main_section">
    <header data-title="密码设置">
        <nav class="on-right">
        	<a href="#" data-view-menu="menus" data-icon="menu"></a>
        </nav>
    </header>
	<article id="profile-password" class="list scroll indented active">
        <div class="form">
            <label>旧密码:</label>
            <input type="password" placeholder="请输入您的旧密码" class="border">

            <label>新密码:</label>
            <input type="password" placeholder="请输入您的新密码" class="border">

            <label>确认新密码:</label>
            <input type="password" placeholder="请确认新密码" class="border">

            <button id="saveBtn" class="anchor margin-bottom" data-icon="ok" data-label="保存"><span class="icon ok"></span></button>
        </div>
    </article>
    <%- include menus %>
</section>
<script>
window.readyhandler = function() { 
    $$('#saveBtn').tap(function() {
        Lungo.Notification.show(
            "check",                //Icon
            "保存成功",              //Title
            3,
            function() {
                Lungo.Notification.hide();
            }
        );
    });
};
</script>
<%- include ../footer %>