<%- include ../header %>
<section id="main_section">
    <header data-title="密码设置">
    </header>
	<article id="profile-password" class="list scroll indented active">
    </article>
    <%- include menus %>
</section>
<%- include ../footer %>