<%- include ../header %>
<section id="main_section">
    <header data-title="提醒服务">
    </header>
	<article id="profile-reminder" class="list scroll indented active">
    </article>
    <%- include menus %>
</section>
<%- include ../footer %>