<%- include ../header %>
<section id="profile_reminder_view">
    <header data-title="我的提醒">
    	<h1 class="title centered">我的提醒</h1>
        <!--nav class="on-right">
            <a href="#" data-view-menu="menus" data-icon="menu"></a>
        </nav-->
    </header>
	<article id="profile_reminder" class="list indented active">
		<ul>
			<li class="theme arrow">
	            <strong>i30 京A888888 需保养</strong>
	            <small>2013-12-18 09:00-11:00</small>
	        </li>
	        <li class="theme arrow">
	            <strong>i30 京A888888 需购保</strong>
	            <small>2013-12-11 09:00-11:00</small>
	        </li>
	        <li class="arrow">
	            <strong>i30 京A888888 交通违章</strong>
	            <small>2013-12-02 09:00-11:00</small>
	        </li>
		</ul>
    </article>
</section>
<%- include ../footer %>