<%- include ../header %>
<section id="profile_reminder_view">
    <header data-title="提醒服务">
    	<h1 class="title centered">提醒服务</h1>
        <!--nav class="on-right">
            <a href="#" data-view-menu="menus" data-icon="menu"></a>
        </nav-->
    </header>
	<article id="profile_reminder" class="list indented active">
		Hello
    </article>
</section>
<%- include ../footer %>