<%- include ../header %>
<section id="profile_reminder">
    <header data-title="提醒服务">
        <!--nav class="on-right">
            <a href="#" data-view-menu="menus" data-icon="menu"></a>
        </nav-->
    </header>
	<article id="content" class="list scroll indented active">
		Hello
    </article>
    <%- include menus %>
</section>
<%- include ../footer %>