<%- include ../header %>
<section id="profile_reservation_view">
    <header data-title="我的预约">
    	<h1 class="title centered">我的预约</h1>
        <!--nav class="on-right">
            <a href="#" data-view-menu="menus" data-icon="menu"></a>
        </nav-->
    </header>
	<article id="profile_reservation" class="list indented active">
		<ul>
			<li class="theme arrow">
	            <strong>i30 预约定损</strong>
	            <small>2013-12-18 09:00-11:00</small>
	        </li>
	        <li class="arrow">
	            <strong>i30 京A888888 已改装</strong>
	            <small>2013-12-13 09:00-11:00</small>
	        </li>
	        <li class="arrow">
	            <strong>i30 京A888888 已维修</strong>
	            <small>2013-12-02 09:00-11:00</small>
	        </li>
	        <li class="arrow">
	            <strong>i30 京A888888 已首保</strong>
	            <small>2013-11-25 09:00-11:00</small>
	        </li>
	        <li class="arrow">
	            <strong>i30 已试驾</strong>
	            <small>2013-11-25 09:00-11:00</small>
	        </li>
		</ul>
    </article>
</section>
<%- include ../footer %>